<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <% if (errors.length) { %>
      <ul>
      <% for (var i = 0; i < errors.length; i++) { %>
        <li><%= errors[i] %>
      <% } %>
      </ul>
    <% } %>
    <form action="/users/signin" method="POST">
      Email: <input type="text" name="email"><br><br>
      Password: <input type="text" name="password"><br><br>
      <input type="submit">
    </form>
  </body>
</html>
