<!DOCTYPE html>
<html>
  <head>
    <title><%= student.name %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= student.name %></h1>
    <p>Phone Number: <%= student.number %></p>
    <p><a href="/students"><< Go Back</a></p>
  </body>
</html>
